* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
#logo {
  height: 80px;
  width: 80px;
  background-image: url("/images/phoenix-logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: -70px;
}
#navchild2 > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  column-gap: 30px;
}
#navchild3 {
  display: flex;
  column-gap: 20px;
}
#subparent {
  background-image: url("/images/heroimg.jpg");
  height: 140vh;
  background-position: 0px -70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: -10;
}
#button {
    z-index: 10;
    position: absolute;
    left: 35px;
    bottom: 200px; 
    height: 60px;
    line-height: 60px; 
    font-size: 20px; 
    width: 80%; 
    max-width: 400px; 
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom right, black, grey);
    color: white; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
  }
  
  @media screen and (max-width: 768px) {
    #button {
      font-size: 18px;
      height: 50px; 
      line-height: 50px;
    }
  }
.icons {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Hide navchild2 on mobile */
#navchild2 {
  display: flex;
}
.hamburger-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  #navchild2 {
    display: none;
  }

  .hamburger-icon {
    display: block;
    margin-top: 13px;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }

  #logo {
    margin: 10px -50px;
  }

  .icons {
    display: none;
  }
}

/* content */
#subparent_container2 {
    z-index: +10; 
    margin-top: -140px; 
    padding: 50px; 
    background-color: rgb(178, 178, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    
    
  }
  
  .paragraphcontents {
    padding: 20px; 
    font-size: 16px;
    line-height: 20px;
  }
  @media screen and (max-width: 768px) {
    #subparent_container2
    {
        flex-direction: column; 
    }
  }


  /* cards */

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .card {
    overflow: hidden;
    flex: 1 1 300px; 
    background-color: rgb(218,214,223);
    color: black;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    padding: 20px;
    padding-left: 0px;
  }
  
  .card-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
   
  }
  
  .card-content p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  

  
  @media screen and (max-width: 768px) {
    .card {
      flex-basis: calc(50% - 20px); /* Two cards per row */
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      flex-basis: 100%; /* Full width on smaller screens */
    }
  }

  #cardsparent
  {
    padding: 100px;
    background-color: rgb(218,214,223);
  }
  #heading
  {
    font-size: 32px;
    padding-bottom: 50px;
    font-weight: bold   ;
  }
  #card2
  {
    text-align: center;
  }
  #card3
  {
    text-align: end;
    
  }
  #cntnt{
    padding-right: 0px;
  }

  